.container{
  background-color:white;
}

.cleaner-show {
  margin-top: 5px;
}


.cleaner-info {
  padding-top: 50px;
}

.cleaner-description{
  padding-top: 50px;
  font-style: italic;
}

.cleaner-rating{
  padding-top: 50px;
}
