// Specific CSS for your home-page


h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
  color: $tribu-dark;
}

@media screen and (max-width: 600px) {

    .container {
   width: 100% !important;
      }
}
