.container-review {
background-color : white;
position: relative;
}

.review-id {
padding : 5px;


}

.review-photo {
padding : 10px;
}

.review-rating {
padding : 10px;
}

.review-comment {
padding : 10px;
}
