<div class="card-product">
 <%= image_tag "poetsvrouw.jpg", alt: "cleaning", width: 200%>
  <div class="card-product-infos">
    <h2>Cleaner Name </h2>
    <p>Description</p>
  </div>
  <div class="card-product-rating">
    <h2>Rating : 4/5</h2>
  </div>
  <div class="card-product-price">
    <h3>10 € </h3>
  </div>
</div>


<div class="card-product">
 <%= image_tag "poetsvrouw.jpg", alt: "cleaning", width: 200%>
  <div class="card-product-infos">
    <h2>Cleaner Name </h2>
    <p>Description</p>
  </div>
  <div class="card-product-rating">
    <h2>Rating : 4/5</h2>
  </div>
  <div class="card-product-price">
    <h3>10 € </h3>
  </div>
</div>

<div class="card-product">
 <%= image_tag "poetsvrouw.jpg", alt: "cleaning", width: 200%>
  <div class="card-product-infos">
    <h2>Cleaner Name </h2>
    <p>Description</p>
  </div>
  <div class="card-product-rating">
    <h2>Rating : 4/5</h2>
  </div>
  <div class="card-product-price">
    <h3>10 € </h3>
  </div>
</div>


