<h1>Reviews#create</h1>
<p>Find me in app/views/reviews/create.html.erb</p>
<%= simple_form_for [@reservation, @review] do |f| %>
  <%= f.input :content %>
  <%= f.submit "add a review", class: "btn btn-primary" %>
<% end %>
